*{
    color:rgb(71, 14, 42);
    background-color:rgb(193, 193, 171);
}
p{
    color:green;
}
#head4{
    color:brown;
}
#head2{
    color:blueviolet;
}
h1{
    color:rgba(72, 33, 83, 0.849);
}
.first{
    color: rgb(56, 117, 117);

}