h1{
    color:#0D3B66;
    background-color:#FAF0CA;
}
p{
    color:rgb(53, 105, 237);
    background-color:#FAF0CA;
}
button{
    color:brown;
    background-color:#456990 ;
}
body{
    background-color:#FAF0CA;
}
h2{
    color:rgb(222, 90, 66);
    background-color:#FAF0CA;
}
h3{
    color:#f3b122;

}