
.outer-box {
    border: 3px solid black;
    width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
}

.blue-box {
    background-color: rgb(34, 66, 165);
    padding: 30px;
    margin-top: 20px;
}

.yellow-box {
    background-color: rgb(208, 181, 60);
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  
}
