body {
    margin: 0;
    padding: 0;
    background-color: #f4f6fb;
    font-family: Arial;
}
.box {
    border: 2px solid black;
    margin: 30px;
    padding: 20px;
    background-color: #f4f6fb;
}
.header{
    background-color: #222;
    color: white;
    text-align: center;
    font-size: 28px;
    padding: 15px 0;
    margin-bottom: 30px;
}
.product
 {
    width: 350px;
    margin: auto;
    background-color: white;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
}
.product-img {
    width: 100%;
    border: 1px solid #ddd;
}
.product 
h3 {
    margin-top: 10px;
    font-size: 18px;
}
.name {
    font-size: 14px;
    color: #555;
    margin: 0;
}
.price {
    margin-top: 10px;
    font-size: 18px;
    color: green;
    font-weight: bold;
}
.priceCut {
    font-size: 20px;
    text-decoration: line-through;
    color: #999;
    margin-left: 8px;
}
.cart{
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}