body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.title {
    margin-bottom: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: auto;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.card img {
    width: 80px;
}

.card h3 {
    margin: 10px 0 5px;
}

.card p {
    font-size: 14px;
    color: #444;
}

.card h4 {
    margin-top: 10px;
    font-weight: bold;
}


@media (max-width: 1024px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }
}
