div{

    height:100px;
    background-color: beige;
    width:300px;
    /* border-width:10px ;
    border-color: brown;
    border-style: solid; */
    border: 5px solid red;
    border-radius: 10px;
    /* border-radius: 50%; */
    /* padding-left: 25px;
    padding-right:25px ;
    padding-bottom: 25px;
    padding-top: 25px ; */
    /* padding:50px; */
    padding: 15px 20px 15px 20px; 
    margin: 10px 20px 30px 40px;
}