
*{background-color: antiquewhite;
}
    p{
    text-align: center;
    color:brown;
    line-height:40px;
    text-transform: uppercase;
}
#font{
    text-transform: capitalize;
}
h1{
    text-decoration: underline;
    text-align: center;
    
}
h2{
    text-decoration: line-through;
    text-align: center;
}
a{
    text-decoration: none;
    color: blanchedalmond;
    background-color: brown;
  
}
h3{
    text-decoration:blue wavy underline;
    text-align: center;
}
#a{
    font-weight: normal;
    font-family: 'Times New Roman';
}
#b{
    font-weight: bold;
    font-family: Helvetica;
    font-size:10px;
}
#c{
    font-weight: bolder;
    font-family: Georgia;
    font-size: 100px;
}
#d{
    font-weight: lighter;
    font-family: sans-serif;
    font-size: 50px;
}
#e{
    font-weight: 500;
    font-family: cursive;
    font-size:35px;
}