body{
    background-color: rgb(23, 23, 83);
}

div{
    height: 60px;
    background-color: #0f1111;
    border:5px solid white;


}
a{
    color:aliceblue;
    margin-right:220px;

}
#logo{
    color:#c16f04;
    font-size: 20px;

}
button{
 background-color :#f08804;
 color: white;
}